.body {
    background: antiquewhite;
}

.div_comment {
    position: fixed;
    background-color: white;
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 25px;
    width: 70%;
    overflow: auto;
    height: 20%;
}

.input_name {
    margin-left: 5%;
    margin-top: 2%;
}

.comment {
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 80%;
    height: 80px;
}

.send_comment {
    margin-top: 1%;
}

.commentSection {
    position: fixed;
    background: white;
    margin: 14% 15% 0 15%;
    border-radius: 25px;
    overflow: auto;
    height: 70%;
    width: 70%;
}

.new_comment {
    width: 90%;
    border: 5px solid antiquewhite;
    border-radius: 5px;
    background: antiquewhite;
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.comment-date {
    display: flex;
    justify-content: space-between;
}